APP_ENV=local
APP_PORT=8080
HOST_PORT=8888
LOG_LEVEL=INFO
LOG_OUTPUT=stdout

REQUEST_TIMEOUT_SECONDS=5
RATE_LIMIT_PER_MINUTE=120

JWT_ALGORITHM=HS256
JWT_SECRET=change-me
JWT_PUBLIC_KEY_PATH=

AUTH_SERVICE_ADDR=tumlumtala-auth-service:25053
AUTHORIZATION_SERVICE_ADDR=tumlumtala-authorization-service:25054
USER_SERVICE_ADDR=tumlumtala-users-service:25052
COURSE_SERVICE_ADDR=tumlumtala-course-service:25054
ORDER_SERVICE_ADDR=tumlumtala-order-service:25055
MESSENGER_SERVICE_URL=http://tumlumtala-messenger-service:25056
MOVIES_SERVICE_URL=http://tumlumtala-movies-service:25055
MUSICS_SERVICE_URL=http://tumlumtala-musics-service:25057
