PORT=25055

DB_HOST=tumlumtala-movies-mysql
DB_PORT=3306
DB_USER=tumlum
DB_PASSWORD=tala
DB_NAME=tumlumtala_movies
DB_ROOT_PASSWORD=root

JWT_SECRET=change-me-in-production

TMDB_API_KEY=your_tmdb_api_key
