PORT=25053

DB_HOST=tumlumtala-mysql
DB_PORT=3306
DB_USER=tumlum
DB_PASSWORD=tala
DB_NAME=tumlumtala_users

REDIS_HOST=tumlumtala-redis
REDIS_PORT=6379
REDIS_PASSWORD=redis_password
REDIS_DB=0

JWT_SECRET=change-me-in-production
